@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-300 p-0 m-0;
}

header {
  @apply bg-gray-800;
}

/* Path: index.css */

.containerr {
  background-color: #f8f1f1;
}

.img {
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #fff;
  color: #f1e8e8;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar {
  content: "";
  display: table;
  display: flex;
  height: 2px;
  margin: 1 auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;

  position: flex;
}

* {
  box-sizing: border-box;
}

.input {
  color: #fcec0b;
  height: 70px;
  width: 100px;
  border: 90px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #037cac, #34b5b9);
  font-size: 3em;
  text-align: center;
}

.containerd {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 60%;
  min-width: 200px;
}

.buttons,
.result {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

.result {
  height: 50px;
  border: 1px solid black;
  justify-content: flex-end;
  align-items: center;
  font-size: 3em;
  background: #0f0f0f;
  color: #fff;
  padding: 0 10px;
}

.button {
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #037cac, #34b5b9);
  font-size: 3em;
  position: flex;
  border-radius: 20px;
}

.button:nth-child(4n),
.button:last-child {
  background: #135161;
  color: #fff;
}

.zero-btn {
  flex-grow: 2;
}

.doubleBordered {
  border: 2px solid rgb(235, 232, 232);
}

#lista-himnos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 650px;
  background: #fff;
  border-radius: 10px;
  overflow-y: auto;
}

#lista-himnos h1 {
  padding: 10px 20px;
  background: #097685;
  color: #fff;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 500px;
  margin: 0;
  clear: both;
}

#lista-himnos h1 span.titleText {
  float: center;
  font-size: 50px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

#close-button {
  float: right;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  width: 25px;
  height: 24px;
  line-height: 24px;
}

#lista-himnos section {
  padding: auto;
  line-height: 1;
  
  height: 600px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #090909;
  font-size: large;
  position: flex;
}

#message {
  margin: 0 auto;
  width: 80%;
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
}

.bg-blue-500 {
  background-color: #097685;
  color: #fff;
}
.text-violet-500 {
  color: #037cac;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-top: 20px;
}
input[type="text"] {
  inputmode: numeric;
}
