@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-300 p-0 m-0;
}

header {
  @apply bg-gray-800;
}

/* Path: index.css */


.img {
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #fff;
  color: #f1e8e8;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
span#dos{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #7103ac, #50165f);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#tres{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #0344ac, #344cb9);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#cuatro{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #7103ac, #50165f);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#cinco{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #0344ac, #344cb9);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#seis{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #7103ac, #50165f);

  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#siete{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #0344ac, #344cb9);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#ocho{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #7103ac, #50165f);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#nueve{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #0344ac, #344cb9);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}

span#cero{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #7103ac, #50165f);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#borrar{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #0344ac, #344cb9);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}
span#buscar{
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #7103ac, #50165f);
  font-size: 3em;
  position: flex;
  border-radius: 20px;

}





.navbar {
  content: "";
  display: table;
  display: flex;
  height: 2px;
  margin: 1 auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #096069;

  position: flex;
}

* {
  box-sizing: border-box;
}

.input {
  color: transparent;
  height: 100px;
  width: 100px;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size:80px;
  text-align: center;
  color: rgb(11, 116, 143);
  
}



.containerd {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 60%;
  min-width: 200px;
}

.buttons,
.result {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

.result {
  height: 50px;
  border: 1px solid black;
  justify-content: flex-end;
  align-items: center;
  font-size: 3em;
  background: #0f0f0f;
  color: #fff;
  padding: 0 10px;
}

.button {
  display: flex;
  color: #dfe0e7;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  border: 10px solid rgb(247, 241, 241);
  cursor: pointer;
  background: -webkit-linear-gradient(top, #0344ac, #344cb9);
  font-size: 3em;
  position: flex;
  border-radius: 20px;
}

.button:nth-child(4n),
.button:last-child {
  background: #135161;
  color: #fff;
}

.zero-btn {
  flex-grow: 2;
}

.doubleBordered {
  border: 2px solid rgb(235, 232, 232);
}

#lista-himnos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 650px;
  background: #fff;
  border-radius: 10px;
  overflow-y:scroll;
}

#lista-himnos h1 {
  padding: 10px 20px;
  background: #097685;
  color: #f4ecec;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 500px;
  margin: 0;
  clear: both;
  overflow-y:scroll;

}

#lista-himnos h1 span.titleText {
  
  float: center;
  font-size: 60px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;

}

#close-button {
  float: right;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  width: 25px;
  height: 24px;
  line-height: 24px;
}

#lista-himnos section {

  padding:auto;
  line-height: 40px;
  height: 600px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #0a0a0a;
  font-size:25px;
  position: flex;
  overflow-y:scroll;
}

#message {
  margin: 0 auto;
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
}

.bg-blue-500 {
  background-color: #0c555e;
  color: #fff;
}
.text-violet-500 {
  color: #037cac;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-top: 20px;
}

